<div class="py-4 px-6 border rounded flex items-center flex-col mb-2">
  <img [src]="product.image" [alt]="product.title" class="w-1/6 mb-2" />
  <h2 class="mb-2 text-md text-center">{{ product.title }}</h2>
  <p>Price: <span class="font-bold">{{ product.price | currency }}</span></p>
  <button 
    class="border py-2 px-4 rounded"
    [ngClass]="{
      'bg-yellow-400': !isDetailsVisible,
      'bg-blue-400': isDetailsVisible
    }"
    (click)="isDetailsVisible = !isDetailsVisible"
  >
    {{ isDetailsVisible ? 'Hide' : 'Show' }} Details
  </button>
  
  <div *ngIf="isDetailsVisible">
    <p>{{ product.description }}</p>
    <p>Rate: <span [ngStyle]="{ fontWeight: 'bold' }">{{ product.rating.rate }}</span></p>  
  </div>

</div>